<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/board/write" method="post">
		<input type="hidden" name='userid' th:value="${userid}"></input>
		<button type="submit">글쓰기</button>
	</form>
	
	<form action="/board/toMain" method="post">
		<input type="hidden" name='userid' th:value="${userid}"></input>
		<button type="submit">뒤로가기</button>
	</form>
		
	<table style="border-collapse: collapse;">
		<thead>
			<tr>
				<th>글번호</th>
				<th>내용</th>
				<th>작성자</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="board : ${boardList}">
				<tr style="border-bottom: 1px solid black;" th:onclick="viewBoard([[${board.board_id}]])">
					<th>[[${board.board_no}]]</th>
					<th>[[${board.content}]]</th>
					<th>[[${board.userid}]]</th>
				</tr>
			</th:block>
		</tbody>
		
	</table>
	
	<script>
		function viewBoard(board_id){
			location.href = encodeURI("/board/view?id=" + board_id);
		}
	</script>
</body>
</html>